<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mini.secondhandin" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/volbeatlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".emailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name=".webViewAboutVolbeatActivity"
            android:label="@string/title_activity_web_view_about_volbeat" >
        </activity>
    </application>

</manifest>
